.abonnement-form {
  background: rgba(0, 0, 0, 0.5);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  .modal-abonnement-client {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  
    .modals-abonnement-client {
      background-color: #fff;
      padding: 20px;
      width: 400px;
      border-radius: 8px;
      position: relative;
      color: black;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
      h2 {
        margin-top: 0;
        font-size: 24px;
        color: #333;
      }
  
      .modal-actions {
        display: flex;
        justify-content: center;
        gap: 10px;
  
        button {
          padding: 8px 16px;
          border: none;
          cursor: pointer;
          border-radius: 4px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
  
        }
        .save{
          background: rgb(3, 131, 69);
          &:hover{
            background: rgb(4, 133, 51);
          }
          
        }
        .cancel{
          background: rgb(220, 48, 48);
          &:hover{
            background: rgb(164, 38, 38);
          }
        }
      }
  
      .input-group {
        position: relative;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        label {
          position: absolute;
          top: 50%;
          left: 15px;
          transform: translateY(-50%);
          font-size: 14px;
          color: #888;
          pointer-events: none;
          transition: 0.2s ease all;
        }
  
        input,
        select {
          text-align: left;
          width: 100%;
          padding: 10px;
          height: 25px;
          padding-left: 15px;
          border: 1px solid #ccc;
          border-radius: 5px;
          outline: none;
          border: 3px solid gray;
          background: white!important;
          color: black;
          font-weight: 600;
          &:focus,
          &:not(:placeholder-shown) {
            border: 3px solid blue;
            & + label {
              top: 0px;
              font-size: 12px;
              color: #09890e;
              background: white;
              padding: 5px;
              font-weight: 600;
            }
           
          }
        }
        option{
          background: rgb(32, 41, 46)!important;
          color: white;
          font-weight: 600;
        }
        select{
          height: 48px;
          background: white;
        }
      }
    }
  } 
  .ab-table {
    .select-btn {
      background-color: #007bff; /* Couleur de fond */
      color: white; /* Couleur du texte */
      border: none; /* Pas de bordure */
      border-radius: 4px; /* Coins arrondis */
      padding: 8px 12px; /* Espacement intérieur */
      cursor: pointer; /* Curseur en forme de main */
      display: flex; /* Utilisation de Flexbox pour l'alignement */
      align-items: center; /* Centrer verticalement les éléments */
    }

    .select-btn .icon {
      margin-right: 5px; /* Espace entre l'icône et le texte */
    }

    .select-btn:hover {
      background-color: #0056b3; /* Couleur de fond au survol */
    }
    .selected {
      background-color: #2f4f5f; /* Couleur de fond pour la sélection */
    }
  }
  .abonnement-tables {
    height: 78vh;
    margin-top: 20px;
    overflow: auto;
    margin-bottom: 25px;
  }
  .abonnement-add {
    display: flex;
    gap: 20px;
    input {
      width: 20%;
    }
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: fadIn 0.4s forwards;
    animation: modalFadeIn 0.3s forwards;
  }

  .modal-content {
    background: rgb(29, 27, 27);
    padding: 20px;
    padding-bottom: 60px;
    padding-top: 40px;
    border-radius: 8px;
    max-width: 60%;
    position: relative;
    animation: fadIn 0.4s ease;
    .client-client {
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: relative;
      margin-bottom: 20px;
      margin-top: 20px;
      button {
        width: 25%;
      }
      input {
        width: 30%;
        background: #333;
      }
      .client1 {
        display: flex;
        justify-content: space-between;
        gap: 10px;
      }
      .client-list {
        overflow: auto;
        max-height: 40vh;
        border-radius: 10px;
        position: absolute;
        top: 50px;
        background: rgb(77, 76, 76);
        padding: 10px;
        width: 40%;
        max-width: 60%;
        .client {
          display: flex;
          padding: 10px;
          justify-content: space-between;
          border-bottom: 2px solid wheat;
          gap: 20px;
          &:hover{
            background: #333;
            color: white;
            letter-spacing: 1px;
          }
        }
      }
    }
  }

  .close-modal {
    position: absolute;
    top: 0px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: red;
  }

  input {
    background: transparent;
    border: 3px solid gray;
    height: 20px;
    padding: 10px;
    border-radius: 40px;
    outline: none;
    color: white;
  }
  .abonnement-table {
    thead {
      position: sticky;
      top: 0px;
      background: #14828a;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.6);
  }

  table,
  th,
  td {
    border: 1px solid gray;
  }

  th,
  td {
    padding: 10px;
    text-align: center;
  }
  .add-btn {
    background-color: #4caf50;
    color: white;
  }

  .edit-btn {
    background-color: #ffa500;
    color: white;
  }

  .delete-btn {
    background-color: #f44336;
    color: white;
  }

  .details-btn {
    background-color: #2196f3;
    color: white;
  }

  .cancel-btn {
    background-color: #e23d3d;
    color: white;
  }

  .icon {
    margin-right: 5px;
  }
  .submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border: none;
    gap: 10px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }

  .add-btn {
    background-color: #4caf50;
    color: white;
  }

  .update-btn {
    background-color: #ffa500;
    color: white;
  }

  .icon {
    margin-right: 5px;
  }
  .details {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    .details-table-abonnement {
      background-color: rgba(48, 46, 46, 0.6);
      border-radius: 10px;
      height: 70vh;
      width: 50%;
      animation: modalFadeIn 0.3s forwards;
      table {
        border-collapse: collapse;
        border: none;
        thead {
          position: sticky;
          top: 0px;
          background: #1e323c;
        }
        th,
        td {
          border: none;
          border-bottom: 2px solid rgb(26, 146, 180);
        }
        td {
          color: white;
          letter-spacing: 1px;
        }
      }
    }
  }
  .facturePrint {
    /* margin-top: 20px; */
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: black;
    box-sizing: border-box;
    border: 2px solid red;
    margin-left: -6px;
    width: 320px;
    height: auto;
    .name-entrprise {
      font-weight: 600;
    }

    /* tfoot {
      background-color: #06272c;

      td {
        height: 30px;
      }

      strong {
        display: flex;
        align-items: center;
        justify-content: space-between;
        letter-spacing: 1px;
        height: 30px;

        .reste {
          height: 100%;
          color: rgb(25, 200, 219);
          display: flex;
          align-items: center;
          padding-right: 10px;
          gap: 20px;
        }

      }

      td {
        text-align: center;
      }
    } */

    .information {
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;

      .company-info-facture {
        width: 50%;

        .company-details {
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            white-space: nowrap;
          }

          .info {
            text-align: left;
          }

        }

        .company-photo-facture {
          width: 100%;
        }
      }

      .client-info {
        /* border: 2px solid blue; */
        text-align: left;
        width: 50%;
        font-size: 10px;
        display: flex;
        justify-content: space-between;
      }
    }

    th:nth-child(1),
    td:nth-child(1) {
      text-align: left;
    }

    th:nth-child(4),
    td:nth-child(4) {
      text-align: right;
    }

    td:nth-child(2) {
      text-align: left;
    }
    .dd{
      margin-top: 10px;
      background-color: red;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      box-sizing: border-box;
    }

    th,
    td {
      border: 1px solid gray;
      box-sizing: border-box;
    }

    td {
      font-size: x-small;
    }

    /* .logo {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      margin-top: 20px;
      .logo {
        border: 3px solid black;
        width: 100%;
        height: 100%;
      }
    } */
  }
}
