/* frontend/src/App.css */
.abonnements {
  text-align: center;
  padding: 20px;
  .ab-search {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    button{
      padding: 10px;
      height: 45px;
      display: flex;
      gap: 10px;
      align-items: center;
      background: rgb(83, 168, 83);
      .icon{
        font-size: large;
        color: #69dfc5;
      }
      
    }
    .input{
      display: flex;
      align-items: center;
      width: 25%;
      position: relative;
      .icon{
        color: gray;
        position: absolute;
        right: 10px;
      }
    }
    .date{
      display: flex;
      align-items: center;
      width: 25%;
      position: relative;
      .icon{
        color: gray;
        position: absolute;
        right: 15px;
        pointer-events: none;
        color: aqua;
      }
    }
    input {
      border: 3px solid gray;
      outline: none;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      width: 100%;
      border-radius: 40px;
      padding: 10px;
      height: 20px;
    }
  }
  .table-abonnement{
    margin-top: 20px; 
    height: 77vh;
    overflow: auto;
    thead{
      position: sticky;
      top: 0px;
      background: #14828a;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.6);
  }

  table,
  th,
  td {
    border: 1px solid black;
  }

  th,
  td {
    padding: 10px;
    text-align: center;
  }

  button {
    padding: 5px 10px;
    margin: 5px;
    height: 40px;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: modalFadeIn 0.3s forwards;

  }

  .modal-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 5px;
    max-height: 87vh;
    overflow-y: auto;
    animation: modalFadeIn 0.3s forwards;
    .entete{
      border-bottom: 3px solid gray;
      margin-bottom: 10px;
      width: 100%;
      position: sticky;
      top: 0px;
      background: black;
    }
    input{
      margin: 10px;
      background: transparent;
      border-radius: 40px;
      outline: none;
      border: 3px solid gray;
      color: white;
    }
    button{
      height: 40px;
      width: 25%;
      .icon{
        margin-right: 10px;
      }
    }
    .delete{
      background: #d32f2f;
    }
    .fonctionnalite{
      background: #14828a;
    }
    .save{
      background: #35c086;
    }
    .annuler{
      background: #f44336;
    }

  }
  .details-list {
   background: rgba(0, 0, 0, 0.8);
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   left: 0px;
   top: 0px;
   z-index: 999;
   animation: modalFadeIn 0.3s forwards;
   .detail-a{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 45vh;
    overflow: auto;
    padding: 10px;
    border-radius: 10px;
    background: rgba(49, 45, 45, 0.5);
    animation: modalFadeIn 0.3s forwards;
   }
   table{
    background: transparent;
    border: none;
    color: white;
    letter-spacing: 1px;
    font-family: Arial, cursive, sans-serif;
    width: 100%;
    td,th{
      border: none;
      padding: 40px;
      border-bottom: 2px solid gray;
    }
   }
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .close-button:hover {
    background-color: #d32f2f;
  }

  button {
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
}
