.billetage {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;

    .billetage-content {
        width: 60%;
        height: 60%;
        border-radius: 10px;
        background: black;
        position: relative;
        padding: 30px;

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            color: red;

            button {
                color: red;
                background: none;
                border: none;
                font-size: 24px;
                cursor: pointer;
            }
        }

        .billetage-title {
            color: white;
            text-align: center;
        }

        .billets-container {
            margin: 20px 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;

            .billet-btn {
                background-color: #fff;
                color: black;
                padding: 10px;
                font-size: 18px;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #ddd;
                }
            }

            .backspace-btn {
                background-color: #ffcccc; 
                color: black;
                padding: 10px;
                font-size: 18px;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #ff9999; 
                }
            }
        }

        .input-container {
            margin-bottom: 15px;
            label {
                color: white;
                display: block;
                margin-bottom: 5px;
            }

            input {
                width: 100%;
                padding: 10px;
                font-size: 16px;
                border-radius: 5px;
                border: none;
                background-color: #ccc;
            }
        }
    }
}
@media (max-width: 1000px) {
  .billetage{
    .billetage-content{
        height: 75% !important;
    }
    .input-class{
        display: flex;
        flex-direction: column;
        .input-container{
            width: 100%;
            display: flex;
            .input-totalPrice{
                width: 100%;
            }
        }
    }
    
  }
}
@media (max-width: 800px) {
    .billetage-content{
        overflow-y: auto;
        /* width: 80% !important; */
        height: 80% !important;
    }
      .billets-container{
          display: flex;
          flex-direction: column;
          .summary-container{
            width: 100% !important;
            gap: 10px;
           }
      }
      
  }
  @media (max-width: 768px) {
    .billetage-content{
        overflow-y: auto;
        width: 80% !important;
    }
      
  }
  @media (max-width: 500px) {
    .billetage-content{
        overflow-y: auto;
        width: 80% !important;
    }
      
  }

