.caisseTable{
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  height: 85vh;
  .searchFilters{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    .c-input{
      display: flex;
      flex: 1 1 calc(10% - 10px);
      min-width: 200px;
      max-width: 100%;
      position: relative;
      justify-content: center;
      align-items: center;
      .icon{
        position: absolute;
        right: 20px;
        pointer-events: none;
        color: aqua;
      }
    }
    input,select{
      width: 100%;
      border-radius: 5px;
      padding: 15px;
      outline: none;
      color: white;
      border: 3px solid gray;
      background: transparent;
      &:focus,
      &:not(:placeholder-shown) {
        & + label {
          top: 0px;
          font-size: 12px;
          color: rgb(34, 221, 231);
          background: black;
          padding: 5px;
          font-weight: 600;
          letter-spacing: 1px;
        }
       
      }
    }
    select option{
      background: rgb(52, 51, 51);
      letter-spacing: 1px;
      font-family: 600;
    }
   
    label {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      font-size: 14px;
      color: #888;
      pointer-events: none;
      transition: 0.2s ease all;
    }
  }
    /* Global styles */
    .table{
      position: relative;
        height: auto;
        max-height: 75vh;
        overflow: auto;
        tfoot{
          background: black;
          position: sticky;
          bottom: -1px;
        }
        .totalamount{
          background: rgb(48, 83, 84);
          color: white;
          letter-spacing: 1px;
          font-size: larger;
          position: sticky;
          bottom: 0px;
        }

        thead{
            position: sticky;
            top: -1px;
        }
        .action{
          text-align: center;
          width: 100px;
        }
    }
  
  .container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
  
    h1 {
      font-size: 2.5em;
      margin-bottom: 20px;
    }
  }
  
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
  
    th,
    td {
      padding: 15px;
      border: 1px solid gray;
      text-align: left;
    }
  
    th {
      background-color: #22636c;
      color: white;
    }
  
  }
  
  /* Button styles */
  
  .icon {
    color: #e65c4d;
    font-size: x-large;
    &:hover {
      background-color: #c0392b;
    }
  }
}
@media (max-width: 800px) {
  .caisseTable .table{
    height: 65vh;
  }
}
@media (max-width: 650px) {
  .caisseTable .table{
    height: 55vh;
  }
}