.facture-form1 {
  width: auto;
  height: auto;

  .modal-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-buttons {
    margin-top: 20px;
  }

  .modal-buttons button {
    margin: 0 10px;
  }
  button {
    letter-spacing: 1px;
    font-weight: 600;
  }
  .facture-form {
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    height: 89vh;

    border-radius: 10px;
    /* box-shadow: 0px 0px 2px wheat; */
    padding: 2px;
    padding-top: 5px;
    padding-right: 5px;
    background: rgba(0, 0, 0, 0.5);
    select {
      background: rgb(9, 21, 33) !important;
      outline: none;
      color: white;
      border: 2px solid black;
      text-align: center;
      border: 2px solid gray;
      border-radius: 36px;
    }
    /* border: 2px solid white; */
    .facture-gauche {
      box-sizing: border-box;
      height: 100%;
      flex-grow: 1;
      .navigation-buttons .active {
        width: 40%;
        font-size: medium;
        background-color: green;
      }
      .navigation-buttons {
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        .div-bt-gauche {
          height: 40px;
          flex-grow: 1;
          display: flex;
          justify-content: space-between;
        }
        input {
          height: 35px;
          border-radius: 30px;
          width: 100%;
          right: 450px;
          background: transparent;
          border: 2px solid gray;
          text-align: center;
          outline: none;
          color: white;
          min-width: 80px;
        }
        /* .div-bt-droite {
          width: 410px;
          min-width: 410px;
        } */
        button {
          transition: 0.2s;
          width: 25%;
          font-size: small;
          display: flex;
          justify-content: center;
          gap: 10px;
          align-items: center;
          .icon {
            font-size: large;
          }
        }
        .recherche {
          display: flex;
          align-items: center;
          position: relative;
          width: 30%;
          input {
            padding-right: 16px;
          }
          .icon {
            position: absolute;
            right: 10px;
            color: gray;
          }
        }
      }
    }
    /* .view-ticket {
      background-color: yellow;
      display: flex;
      justify-content: space-between;
    } */
    .tick {
      /* border: 2px solid white; */
      min-width: 430px;
      /* max-width: 800px;  */
      /* width: 45%;  */
      .d {
        height: 64vh;
        overflow-y: auto;
        width: 100%;
      }

      /* Titre du ticket */
      .container h3 {
        margin-bottom: 20px;
        text-align: center;
        color: #333;
      }
      thead {
        background: rgb(9, 21, 33);
        position: sticky;
        top: 0px;
        height: 45px;
      }

      /* Table */
      table {
        position: relative;
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      thead th {
        background-color: transparent;
        padding: 10px;
        text-align: left;
      }
      tbody td {
        padding: 5px;
        border-bottom: 1px solid #ddd;
      }
      /* Alignement des colonnes */
      th:nth-child(1),
      td:nth-child(1) {
        width: 10%;
        text-align: center;
      }

      th:nth-child(3),
      td:nth-child(3) {
        width: 20%;
        text-align: right;
      }

      th:nth-child(4),
      td:nth-child(4) {
        width: 10%;
        text-align: right;
      }
    }
    .produit {
      margin-top: 5px;
      height: 76vh;
      box-sizing: border-box;
      padding: 5px;

      .produit-ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap; /* Allow items to wrap to the next line */
        justify-content: center; /* Center items horizontally */
        /* border: 2px solid yellow; */
        box-sizing: border-box;
        padding: 5px;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        gap: 10px; /* Space between items */
        padding-right: 5px;
        /* Optional: padding inside the container */
        box-sizing: border-box; /* Include padding and border in element's total width and height */
      }
      .produit-list {
        margin-bottom: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        background: rgba(0, 0, 0, 0.4);
        letter-spacing: 1px;
        /* border: 2px solid gray; */
        box-shadow: 0px 0px 4px gray;
        border-radius: 15px;
        flex: 1 1 calc(22.333% - 10px); /* 3 items per row with some gap space */
        max-width: calc(100%);
        min-width: 230px; /* Ensure items do not exceed this width */
        box-sizing: border-box; /* Include padding and border in element's total width and height */
        height: 240px; /* Fixed height */
        .machine-but {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 35px;
          height: 30px;
          border-radius: 3px;
          background: rgb(6, 105, 69);
        }
        .input-offert {
          outline: none;
          border-radius: 4px;
          background: #333;
          color: white;
          font-weight: 600;
          letter-spacing: 1px;
          text-align: center;
          border: 3px solid gray;
          position: absolute;
        }
        .offert-button {
          position: absolute;
          right: 15px;
          bottom: 10px;
          font-size: 35px;
          color: yellow;
        }
      }
      .produit-list:hover {
        background-color: #012629;
      }
      .produit-list.selected {
        background: rgba(
          0,
          0,
          0,
          0.8
        ); /* Change background to green when selected */
        border-color: #fff; /* You can also change the border color */
      }
    }
    .ticket {
      display: flex;
      flex-direction: column;
      align-items: center;
      right: 8px;
      box-shadow: 0px 0px 10px black;
      border-radius: 10px;
      box-sizing: border-box;
      height: 89vh;
      padding: 5px;
      width: 100%;
      background: rgba(3, 40, 68, 0.4);
      /* Style de base pour le conteneur principal */
      font-family: Arial, sans-serif;
      .offert {
        background: rgb(168, 112, 6);
      }
      .prev-relative {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: 100%;
        width: 100%;
        .btn-facture {
          width: 100%;
          justify-content: center;
          align-items: center;
          .icon {
            color: orange;
          }
        }
        .btn-facture-green {
          background: rgb(33, 136, 56);
          width: 40%;
          height: 35px;
          transition: 0.3s;
          &:hover {
            background: #02a926;
          }
        }
        .btn-facture-red {
          background: rgb(172, 35, 35);
          width: 40%;
          height: 35px;
          transition: 0.3s;
          &:hover {
            background: rgb(219, 7, 7);
          }
        }
        .btn-facture-cancel {
          background-color: #f44336; /* Rouge pour l'annulation */
          color: white;
          height: 35px;
          width: 40%;
          /* text-align: center;
              text-decoration: none; */
        }
        .ambany {
          letter-spacing: 1px;
          text-align: center;
          width: 100%;
          position: absolute;
          bottom: 0px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          button {
            height: 42px;
          }
          .traces {
            border-bottom: 3px solid gray;
            height: 10px;
            width: 100%;
          }
        }
      }

      /* Boutons */
      button {
        background-color: #ff5c5c;
        color: white;
        border: none;
        padding: 6px 10px;
        border-radius: 4px;
        cursor: pointer;
        letter-spacing: 1px;
      }

      button:hover {
        background-color: #e04e4e;
      }

      /* Boutons principaux */
      button.primary {
        background-color: #28a745;
        letter-spacing: 1px;
        color: white;
        padding: 10px 20px;
        margin-top: 20px;
        width: 100%;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
      }

      button.primary:hover {
        background-color: #218838;
      }
    }

    .machines {
      box-sizing: border-box;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      height: 76vh;
      .machine-input {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        input {
          background-color: transparent;
          outline: none;
          color: white;
          border: 2px solid black;
          text-align: center;
          border: 3px solid gray;
          border-radius: 36px;
          height: 35px;
          width: 210px;
        }
        select {
          background: rgb(9, 21, 33);
          outline: none;
          color: white;
          border: 2px solid black;
          text-align: center;
          border: 2px solid gray;
          border-radius: 36px;
          width: 210px;
        }
      }
      .machine-ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap; /* Allow items to wrap to the next line */
        justify-content: center; /* Center items horizontally */
        box-sizing: border-box;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        gap: 10px; /* Space between items */
        padding: 5px; /* Optional: padding inside the container */
        box-sizing: border-box; /* Include padding and border in element's total width and height */
      }
      .machine-list {
        margin-bottom: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        letter-spacing: 1px;
        background: rgba(0, 0, 0, 0.4);
        /* border: 2px solid gray; */
        box-shadow: 0px 0px 4px wheat;
        border-radius: 15px;
        flex: 1 1 calc(22.333% - 10px); /* 3 items per row with some gap space */
        max-width: calc(100%); /* Ensure items do not exceed this width */
        box-sizing: border-box;
        min-width: 230px;
        /* Include padding and border in element's total width and height */
        height: 260px; /* Fixed height */

        select {
          height: 30px;
        }
        /* .label-machine{
          color: #a3bea9;
        } */
      }
      .machine-list:hover {
        background-color: #012629;
      }
      .machine-list.selected {
        background-color: rgba(0, 0, 0, 0.7);
      }
      .facturePrint-btn {
        border-radius: 40px;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: 3px solid gray;
        width: 20%;
        .icon {
          color: rgb(255, 152, 0);
        }
      }
    }
    .client-input {
      margin-top: 10px;
      display: flex;
      padding-right: 10px;
      gap: 5px;
      justify-content: space-between;
      align-items: center;

      .client-choix {
        position: relative;
        display: flex;
        align-items: center; /* Aligne verticalement tous les éléments au centre */
        justify-content: center; /* Centre les éléments horizontalement */
        border-radius: 5px;
        width: 20%;
        height: 40px; /* Gardez la même hauteur */
        gap: 10px;
      }

      .custom-checkbox {
        width: 38px;
        height: 38px;
        margin: 0;
        appearance: none; /* Masquer l'apparence par défaut du checkbox */
        border: 3px solid #888; /* Bordure par défaut */
        cursor: pointer;
        position: relative;
        transition: all 0.08s ease;
      }

      /* Style par défaut */
      .custom-checkbox::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: transparent; /* Fond transparent par défaut */
        border-radius: 5px;
        transition: background-color 0.08s ease;
      }

      /* Afficher une coche (en forme de V) lors de la sélection */
      .custom-checkbox:checked::before {
        background-color: green; /* Vert lorsque sélectionné */
        border: 2px solid gray;
        border-radius: 30px;
        width: 42px;
        height: 42px;
        position: absolute;
        top: -5px;
        left: -5px;
      }

      /* Style pour la coche (symbole en forme de V) */
      .custom-checkbox:checked::after {
        content: "";
        position: absolute;
        left: 8px; /* Positionnement horizontal */
        top: 2px; /* Ajustez pour centrer verticalement */
        width: 10px;
        height: 18px;
        border: solid white;
        border-width: 0 8px 8px 0;
        transform: rotate(45deg);
      }

      /* Ajout d'un style pour le texte */
      span {
        font-size: 16px; /* Ajustez la taille de la police si nécessaire */
        color: white; /* Couleur du texte */
        display: flex; /* Permet d'utiliser l'alignement */
        justify-content: center;
        align-items: center; /* Centre verticalement le texte */
      }

      .nom-input {
        width: 40%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        input {
          width: 100%;
        }
        .client-list {
          position: absolute;
          background-color: var(--background-color);
          z-index: 1;
          top: 43px;
          border-radius: 5px;
          width: 100%;
          display: flex;
          flex-direction: column;
          border: 2px solid gray;
          max-height: 400px;
          overflow: auto;
          .client-span {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            cursor: pointer;
            bottom: 1px solid gray !important;
          }
          .client-span:hover {
            background-color: #333;
          }
        }
        .client-list.no-border {
          border: none; /* Suppression de la bordure */
        }
      }
      input {
        background-color: transparent;
        outline: none;
        color: white;
        border: 2px solid black;
        text-align: center;
        border: 3px solid gray;
        border-radius: 36px;
        height: 35px;
        width: 30%;
      }
    }
  }

  .billetage {
    animation: fadIn 0.4s ease;
    .billetage-confirm button {
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: center;
      letter-spacing: 1px;
      background: rgb(12, 161, 92);
      .icon {
        color: rgb(9, 86, 122);
        font-size: large;
      }
      &:hover {
        background: #218838;
      }
    }
    .autre {
      display: flex;

      align-items: center;
      .autres {
        background: transparent;
        border: 3px solid gray;
        border-radius: 40px;
        height: 25px;
        outline: none;
        color: white;
      }
    }
    .billetage-content {
      background: rgba(9, 21, 33, 0.8);
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 700px;
      animation: slideIn 0.4s ease;
      .summary-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;

        button {
          width: 100%;
          height: 45px;
        }

        input {
          padding: 10px;
          height: 25px;
          width: 93%;
          border: 3px solid gray;
          text-align: center;
          color: white;
          background: transparent;
        }
      }
    }
    .input-class {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .billets {
      display: flex;

      .reste {
        letter-spacing: 1px;
        height: 45px;
        width: 100%;
        border: 3px solid gray;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          position: absolute;
          left: 10px;
          color: rgb(55, 206, 233);
        }
      }
      .billets-container {
        display: flex;

        .bill-buttons-container {
          display: flex;

          flex-wrap: wrap;
          gap: 30px;
          flex: 1;
          .bill-button {
            flex: 1 1 calc(33.333% - 10px);
            min-width: 80px;
            padding: 10px;
            font-size: 16px;
            height: 50px;
            text-align: center;
            background-color: rgba(80, 76, 76, 0.8);
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #1a2b3d;
            }
          }
        }
      }

      @media (max-width: 768px) {
        .bill-buttons-container {
          .bill-button {
            flex: 1 1 48%;
          }
        }
      }

      @media (max-width: 480px) {
        .bill-buttons-container {
          .bill-button {
            flex: 1 1 100%;
          }
        }
      }
    }
    .input-container {
      position: relative;

      input {
        height: 30px;
      }
      select {
        height: 50px;
      }
      .input-totalPrice {
        width: auto;
        padding: 10px;
        font-size: 16px;
        background: transparent;
        color: white;
        border: 3px solid gray;
        &:focus + label,
        &:valid + label {
          transform: translateY(2px);
          font-size: 15px;
          color: green;
          left: 30px;
        }
      }

      label {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 16px;
        color: #888;
        transition: all 0.3s ease;
        .input-totalPrice:focus + &,
        .input-totalPrice:valid + & {
          top: -10px;
          font-size: 15px;
          color: rgb(14, 237, 245);
          background: rgba(9, 21, 33, 0.8);
        }
      }
    }
  }

  .facturePrint {
    margin-top: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: black;
    width: 310px;
    .name-entrprise{
      font-weight: 600;
    }
    tfoot {
      background-color: #06272c;
      td{
        height: 30px;
      }
      strong {
        display: flex;
        align-items: center;
        justify-content: space-between;
        letter-spacing: 1px;
        height: 30px;
          .reste {
            height: 100%;
            color: rgb(25, 200, 219);
            display: flex;
            align-items: center;
            padding-right: 10px;
            gap: 20px;
          }
       
      }
      td {
        text-align: center;
      }
    }
   
    .information {
     
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      .company-info-facture {
        width: 50%;
        .company-details {
          display: flex;
          align-items: center;
          justify-content: center;
          .info {
            text-align: left;
          }
        }
       .company-photo-facture {
          width: 100%;
        } 
      }
      .client-info {
        /* border: 2px solid blue; */
        text-align: left;
        width: 50%;
        font-size: 10px;
        display: flex;
        justify-content: space-between;
      }
    }
    th:nth-child(1),
    td:nth-child(1) {
      text-align: left;
    }
    th:nth-child(4),
    td:nth-child(4) {
      text-align: right;
    }

    td:nth-child(2) {
      text-align: left;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 20px;
      box-sizing: border-box;
    }
    
    th,
    td {
      border: 1px solid gray;
      box-sizing: border-box;
    }
    td {
      font-size: x-small;
    }
    /* .logo {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      margin-top: 20px;
      .logo {
        border: 3px solid black;
        width: 100%;
        height: 100%;
      }
    } */
  }
}
@keyframes growAndShrink {
  0% {
    padding: 20px;
    width: 350px; /* Start size */
  }
  50% {
    padding: 30px;
    width: 400px; /* Grows to this size */
  }
  100% {
    padding: 20px;
    width: 350px; /* Shrinks back to this size */
  }
}

@keyframes finalGrow {
  0% {
    padding: 20px;
    width: 350px; /* Start size after shrinking */
  }
  100% {
    padding: 30px;
    width: 400px; /* Final grow size */
  }
}

.modal-stock {
  color: #012629;
  background: white;
  padding: 20px;
  border-radius: 4px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  animation: growAndShrink 0.2s ease forwards, finalGrow 0.2s ease 0.2s forwards; /* Two animations */
  input {
    height: 30px;
    text-align: center;
    outline: none;
    border: 3px solid gray;
  }
  .modal-buttons {
    width: 70%;
    display: flex;
    justify-content: space-between;
    button {
      width: 45%;
      margin: 0px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 40px;
    }
    .btn-sub {
      background: green;
    }
    .btn-c {
      background: red;
    }
  }
  .modal-stock-input {
    position: relative;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      width: 100%;
      border-radius: 5px;
      height: 40px;
      &:focus,
      &:not(:placeholder-shown) {
        border: 3px solid blue;
        & + label {
          top: 0px;
          font-size: 12px;
          color: #09890e;
          background: white;
          padding: 5px;
          font-weight: 600;
        }
      }
    }

    label {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      font-size: 14px;
      color: #888;
      pointer-events: none;
      transition: 0.2s ease all;
    }
  }
}
/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}
