.fixeddiv {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  transition: transform 0.4s ease, background-color 0.4s ease;
}
.fixed-div {
  position: absolute;
  top: 10px;
  right: 5px; /* Gardons toujours la même position `right` */
  width: 250px;
  height: 97vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8); /* Couleur par défaut */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, background-color 0.4s ease; /* Transition pour le glissement et la couleur */
  z-index: 1000;
  transform: translateX(300px);
  padding: 5px;
  border-radius: 5px; /* Position hors de l'écran par défaut */
  .dropdown-menu {
    z-index: 1000;
    /* Initialement fermé */
    overflow: auto;
    border: 2px solid yellow;
    min-width: 160px;
    padding: 0 0; /* Pas de padding visible au début */
    margin: 0;
    margin-top: 50px;
    font-size: 14px;
    color: white;
    text-align: left;
    list-style: none;

    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out,
      padding 0.3s ease-out;
    animation-name: dropdown-animate;
    animation-duration: 0.9s;
    animation-fill-mode: both;
    border: 2px solid black;
  }
  .dropdown-item {
    position: relative;
  }

  .dropdown-item-button {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    padding: 40px 15px;
    font-size: large;
    color: white;
    cursor: pointer;
    display: flex;
    letter-spacing: 1px;
    gap: 30px;
    align-items: center;
    transition: background-color 0.15s ease-in-out;
  }

  .dropdown-item-button:hover {
    background-color: #0b5746;
  }
  .dropdown-item-button.active {
    background: rgb(14, 53, 65);
    border-radius: 0px;
  }

  .chevron {
    position: absolute;
    right: 10px;
    margin-left: 10px;
    transition: transform 0.2s;
  }

  .chevron.open {
    transform: rotate(180deg);
  }

  .dropdown-submenu {
    max-height: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    transition: max-height 0.2s ease-out, padding 0.3s ease-out;
  }

  .dropdown-submenu.show {
    max-height: 300px;
    display: flex;
    flex-direction: column;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  }

  .dropdown-subitem {
    padding: 30px 15px;
    width: 40px;
    color: white;
    background: none;
    border: none;
    letter-spacing: 1px;
    width: 100%;
    cursor: pointer;
    background: transparent;
    font-size: 14px;
    list-style-type: none;
    text-decoration: none;
    padding-left: 50%;
    display: flex;
    gap: 15px;
  }

  .dropdown-subitem:hover {
    background-color: rgba(75, 71, 71, 0.5);
  }

  .btn-close {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 30px;
    width: 30px;
  }
}

.fixed-div.visible {
  transform: translateX(0);
}

.fixed-div.hidden {
  transform: translateX(300px);
}
.fixeddiv.visible {
  transform: translateX(0);
}

.fixeddiv.hidden {
  transform: translateY(-2000px);
}

