body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  height: 99.5vh; 
  background-color: black;
  padding: 2px;
  input{
    transition: 0.3s ease-in-out;
    transition: background-color 60000s ease-in-out 0s, color 60000s ease-in-out 0s, padding 0.3s ease;
  }

}

.app {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  border-radius: 10px;
  height: 100vh;
  transition: margin-left 0.3s, margin-right 0.3s;
  .modal-alerte {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
  
  .modal-content-alerte {
    background: white;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    animation: popLoop 1s infinite ease-in-out;
  }
  
  .modal-content-alerte h2 {
    color: red;
  }
  .buttons{
    display: flex;
  }
  .modal-content-alerte .fermer {
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    gap: 5px;
    font-weight: 600;
    &:hover{
      background: darkred;
    }
  }
  .modal-content-alerte .details {
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    border-radius: 5px;
    gap: 5px;
    font-weight: 600;
    &:hover{
      background: darkgreen;
    }
  }
  
  
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s, margin-right 0.3s;
  width: 100%;
}
.content {
  flex-grow: 1;
  color: white;
  margin-left: 15px;
  padding-right: 5px;
}
/* Styles pour l'ouverture de la Sidebar */
.app.sidebar-left .sidebar {
  transform: translateX(0); /* Visible à gauche */
  transition: transform 0.3s ease; /* Transition plus rapide pour l'ouverture */
}
.app.sidebar-right .sidebar {
  transform: translateX(0); /* Visible à droite */
  transition: transform 0.3s ease; /* Transition plus rapide pour l'ouverture */
}
.app.sidebar-left .fixed-div{
  right:0px ;
}
.app.sidebar-right .fixed-div{
  left:0px ;
}
.app.sidebar-right .fixed-div.hidden{
  transform: translateX(-300px);
}
.app.sidebar-right .fixed-div.visible{
  
  transform: translateX(0);
}
.app.sidebar-right .sidebar .sidebar-header .close-button{
  right: 0px;
  position: absolute;
}

/* Styles pour la fermeture de la Sidebar */
.app.sidebar-hidden.sidebar-left .sidebar {
  transform: translateX(-110%); /* Cachée à gauche */
  transition: transform 0.7s ease; /* Transition plus lente pour la fermeture */
}

.app.sidebar-hidden.sidebar-right .sidebar {
  transform: translateX(100%); /* Cachée à droite */
  transition: transform 0.7s ease; /* Transition plus lente pour la fermeture */
}


/* Ajustements pour le contenu */
.app.sidebar-left .main-content {
  margin-left: 220px;
  margin-right: 0;
  transition: margin-left 0.3s ease; /* Transition de marge pour l'ouverture */
}
.app.sidebar-right .navbar .lamba{
  margin-left: -40px;
  transition: 0.3s;
}
.app.sidebar-right .main-content {
  margin-right: 220px;
  margin-left: 0;
  transition: margin-right 0.3s ease; /* Transition de marge pour l'ouverture */
}

.app.sidebar-hidden .main-content {
  margin-left: 0;
  margin-right: 0;
  transition: margin-left 0.3s ease, margin-right 0.3s ease; /* Transition de marge pour la fermeture */
}

@keyframes popLoop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animated-element {
  animation: popLoop 1s infinite ease-in-out;
}
@media (max-width: 768px) {
  
}

