.machine-management {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .machine-list {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .search {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      flex-wrap: wrap;
      gap: 10px;
      
      .input {
        flex: 1 1 100px;
        position: relative;
        min-width: 200px;
        display: flex;
        align-items: center;
        transition: 0.3s;
        &:hover{
          width: 45%;
          flex: 1 1 200px;
        }
        input {
          width: 100%;
          border: 3px solid gray;
          border-radius: 4px;
          background: transparent;
          outline: none;
          height: 40px;
          color: white !important;
          text-align: center;
        }
      }
    }

    .btn-add {
      background-color: #28a745;
      color: white;
      border: none;
      height: 45px;
      border-radius: 4px;
      cursor: pointer;
      flex: 1 1 100px;
      min-width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-weight: 600;
      letter-spacing: 1px;
      transition: 0.3s;
      &:hover {
        background-color: #218838;
        flex: 1 1 200px;
      }
    }

    .table-voir {
      overflow-x: auto;
      max-height: 73vh;
      background: rgba(0, 0, 0, 0.5);
      .tables-m {
        width: 100%;
        border-collapse: collapse;
        th,
        td {
          border-bottom: 2px solid gray;
          padding: 10px;
          text-align: center;
        }

        th {
          background-color: gray;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        button{
          min-width: 25px;
        }
      }
    }
  }

  button {
    margin: 2px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    min-height: 30px;
    min-width: 40px;
    color: white;
    &.btn-voir {
      color: #007bff;
      &:hover{
        color: white;
      }
    }
    &.btn-detail {
      color: #17a2b8;
      &:hover{
        color: white;
      }
    }
    &.btn-start {
      background: #17a2b8;
      font-weight: 600;
      letter-spacing: 1px;
      width: auto;
      &:hover{
        color: white;
        background: rgb(36, 125, 180);
      }
    }
  }

  /* Responsive */
  @media (max-width: 1024px) {
    .table-voir {
      height: 65vh;
    }
  }

  @media (max-width: 768px) {
    .table-voir .tables-m {
      th,
      td {
        padding: 5px;
        font-size: 12px;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }

    button {
      padding: 5px;
      font-size: 12px;
    }
  }

  @media (max-width: 480px) {
    .machine-list {
      padding: 10px;
    }

    .btn-add {
      width: 100%;
    }

    .table-voir .tables-m {
      font-size: 10px;
    }
  }
}
.modal-machine-facture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: modalFadeIn 0.4s ease;
  .modal-content-machine-facture {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: black;
    animation: modalFadeIn 0.4s ease;
    overflow: auto;
    h2 {
      margin-top: 0px;
    }
    .titre-facture {
      border-bottom: 3px solid gray;
      height: 30px;
      margin-bottom: 5px;
    }
  }
}
.detail {
  position: fixed; /* Fixe pour couvrir toute la fenêtre */
  top: 0;
  left: 0;
  width: 100%; /* Prend toute la largeur */
  height: 100%; /* Prend toute la hauteur */
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
  z-index: 889; /* Doit être derrière le contenu de la modal */
}
.machine-details {
  position: absolute; /* Pour que le composant puisse être positionné */
  top: -400px; /* Position initiale hors de l'écran */
  left: 50%;
  transform: translateX(-50%); /* Centrer horizontalement */
  background: linear-gradient(135deg, rgb(30, 30, 30), rgb(50, 50, 50));
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  transition: top 0.3s ease;
  z-index: 999; /* Durée de la transition */
  /* S'assurer que le composant est au-dessus des autres éléments */
}

.slide-in {
  top: 20px; /* Position finale lorsque visible */
}
.slide-out {
  transition: 1s ease;
  top: -400px; /* Position finale lorsque masqué */
}
@media (max-width: 768px) {
    th,
    td {
      padding: 5px;
      font-size: 12px;
    }

    img {
      width: 30px;
      height: 30px;
    }

  button {
    padding: 5px;
    font-size: 12px;
  }
  .machine-details{
    width: 80%;
  }
}

@media (max-width: 480px) {
   table{
    font-size: 10px;
  }
}
button{
  width: auto;
  letter-spacing: 1px;
  transition: 0.3s;
}
