.product-history {
  font-family: Arial, sans-serif;
  padding: 0rem 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .view-buttons {
    margin-bottom: 1.5rem;
   display: flex;
   justify-content: space-between;
    transition: 0.3s ease;
    .filter-groupes{
      position: relative;
      label {
        position: absolute;
        top: 50%;
        left: 0.5rem;
        transform: translateY(-50%);
        font-size: 1rem;
        color: #aaa;
        pointer-events: none;
        transition: 0.3s ease all;
      }

      input,select{
        width: 100%;
        margin: 0px;
        padding: 15px;
        font-size: 1rem;
        border: 3px solid #ccc;
        border-radius: 4px;
        background: black;
        outline: none;
        transition: 0.3s ease all;
        color: white;
        &:focus,
        &:valid {
          border-color: gray;
          background: rgba(0, 0, 0, 0.3);
          border: 3px solid gray;
        }

        &:focus + label,
        &:valid + label {
          top: 0;
          font-size: 0.8rem;
          color: #007bff;
          background:  rgba(0, 0, 0, 0.8);
          font-weight: 600;
          padding: 8px;
        }
      }
      select{
        padding: 15px;
        background-color: black!;
        color: white;
        option{
          background: rgb(48, 43, 43);
          color: white;
        }
      }
    

}
    button {
        background-color: #4caf50;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        margin: 0 0.5rem;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
        height: 50px;
        transition: background-color 0.3s ease, width 0.3s ease; /* Ajout des transitions */
        &:hover {
          background-color: #45a049; /* Survol */
        }
      
        &.active {
          background-color: rgb(14, 120, 172); /* État actif */
          width: 60%; /* Transition sur la largeur */
        }
      }
      
  }

  .filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;#ddd

    input[type="text"],
    input[type="date"] {
      padding: 0.5rem;
      font-size: red;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-right: 1rem;

      &:focus {
        outline: none;
      }
    }
    .filter-groupe{
        position: relative;
        width: 13%;
        label {
          position: absolute;
          top: 50%;
          left: 0.5rem;
          transform: translateY(-50%);
          font-size: 1rem;
          color: #aaa;
          pointer-events: none;
          transition: 0.3s ease all;
        }

        input,select{
          width: 100%;
          margin: 0px;
          padding: 15px;
          font-size: 1rem;
          border: 3px solid #ccc;
          border-radius: 4px;
          background: black;
          outline: none;
          transition: 0.3s ease all;
          color: white;
          &:focus,
          &:valid {
            border-color: gray;
            background: rgba(0, 0, 0, 0.3);
            border: 3px solid gray;
          }

          &:focus + label,
          &:valid + label {
            top: 0;
            font-size: 0.8rem;
            color: #007bff;
            background:  rgba(0, 0, 0, 0.8);
            font-weight: 600;
            padding: 8px;
          }
        }
        select{
          padding: 15px;
          background-color: black!;
          color: white;
          option{
            background: rgb(48, 43, 43);
            color: white;
          }
        }
      }

  }
  .table-h{
    height: auto;
    max-height: 64vh;
    overflow: auto;
  }
  thead{
    position: sticky;
    top: 0px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.5);
    th,
    td {
      padding: 0.8rem;
      border-bottom: 1px solid gray;
      text-align: center;
      font-size: 16px;
    }

    th {
      background-color: #778278;
      color: white;
    }
  }

  .footer {
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    position: sticky;
    bottom: 0px;

    .total {
      margin-right: 2rem;
    }
   
  }

 
  .no-data {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    color: #777;
  }
  .totals{
    background: black;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgb(0, 255, 179);
}
}
