.app.sidebar-hidden .sidebar-content .content-modal{
  display: none;
}
.sidebar-content{
  width: auto;
  height: auto;
  .content-modal{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 665;
    display: none;
    animation: modalFadeIn 0.4s ease;
  }
.sidebar {
  width: 225px;
  background-color:rgba(0, 0, 0, 0.8);
  color: wheat;
  position: absolute;
  height: 98vh;
  margin-top: 5px;
  margin-left: 0px;
  top: 0px;
  transition: transform 0.3s ease;
  z-index: 666;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  border-radius: 10px;
  
  /* right  */
  
  .profil{
    display: flex;
    letter-spacing: 1px;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 3px solid gray; */
    .sary {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px; /* Taille du conteneur du profil */
        height: 70px;
        overflow: hidden; /* Pour s'assurer que l'image ne déborde pas du conteneur */
        border-radius: 50%; /* Pour rendre l'image circulaire */
        /* border: 2px solid #ccc; Bordure pour l'effet de cadre */
        align-items: center;
      }
      span{
        letter-spacing: 1px;
        font-weight: 600;
        font-size:small;
    }
       .img {
        width: 100%; /* L'image prend toute la largeur du conteneur */
        height: 100%; /* Maintient le ratio d'aspect */
        object-fit: cover; /* Couvre tout le conteneur en coupant l'image si nécessaire */
      }
  }
  

  .ul{
    border-top: 2px solid gray;
    
    list-style-type: none;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    padding-bottom: 10px;
    .active{
      background-color: rgb(42, 73, 103);
      border-left: 4px solid rgb(35, 233, 124);
      color: rgb(2, 90, 58);
      width: 100%;
      span{
        /* color: rgb(64, 154, 222); */
        color: rgb(42, 225, 238);
      }
    }
     
    button{
        border: none;
        background-color: transparent;
        color: white;
    }
   .li{
        display: flex;
        align-items: center;
        flex-direction: column;
        font-weight: 600;
        gap: 5px;
        color: gray;
        padding: 15px;
        letter-spacing: 1px;
        box-sizing: border-box;
       border-bottom: 1px solid gray;
        span{
          padding-left: 10px;
        }
        .icon{
            font-size: 48px;
        }
        .t{
            font-size: x-large;
        }
    }
    .li{
        text-decoration: none;
    }
    .li:hover{
      background: rgb(43, 41, 41);
    }
    
  }
}
}

.sidebar.left {
  transform: translateX(0);
  left: 0;
}

.sidebar.right {
  transform: translateX(0);
  right: 0;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  position: relative;
}

.close-button {
  background: none;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 600;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 3px solid gray;
  border-radius: 8px;
  &:hover{
    color: rgb(220, 88, 88);
    font-size: 25px;
    transition: 0.3s;
  }
}

.sidebar-buttons {
  display: flex;
  gap: 10px;
  background-color: transparent;
  button{
    background-color: transparent;
    color: white;
    border-radius: 5px;border: none;
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .sidebar-content .content-modal{
    display: block;
  }
}
* {
  scrollbar-width: 8px;
  scrollbar-color: #4ca0af transparent;
}
/* Pour les navigateurs Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Largeur de la scrollbar */
  height: 8px;
}

/* Couleur de fond de la scrollbar */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Barre de défilement elle-même */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #4CAF50, #00BCD4); /* Dégradé de couleur */
  border-radius: 10px;
}

/* Changement au survol */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #388E3C, #0097A7);
}
/* Firefox */

