/* Caisse.scss */
.container {
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.5);

  .solde {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .caisse-td {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      height: 30px;
      outline: none;
      border: 3px solid gray;
      text-align: center;
    }
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #110b32;
    text-align: center;
  }
}

.btn-add,
.btn-view-closed {
  margin: 5px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #45a049;
  }
}

.btn-edit,
.btn-delete,
.btn-close {
  margin: 5px;
  padding: 5px;
  border: none;
  cursor: pointer;

  &.btn-edit {
    background-color: #ffa500;
    border-radius: 3px;

    &:hover {
      background-color: #e67e22;
    }
  }

  &.btn-delete {
    background-color: #f44336;
    border-radius: 3px;

    &:hover {
      background-color: #c62828;
    }
  }

  &.btn-close {
    background-color: #607d8b;
    border-radius: 3px;

    &:hover {
      background-color: #455a64;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    max-width: 500px;
    position: relative;
    color: black;
    .modal-button {
      display: flex;
      justify-content: space-between;
      width: 80%;
      .btn-submit,
      .btn-cancel {
        padding: 10px;
        border: none;
        cursor: pointer;
        margin-right: 0px !important;
        width: 45%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
    }
    /* Caisse.scss */
    .input-wrapper {
      position: relative;
      margin-bottom: 15px;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      label {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        transition: top 0.2s ease, font-size 0.2s ease;
        font-size: 16px;
        color: gray;
        pointer-events: none;
      }

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        outline: none;
        font-size: 16px;
        height: 30px;
        border: 3px solid gray;
        &:focus {
          border-color: #4caf50;
          border: 3px solid blue;
        }

        &:valid {
          border-color: #4caf50;
          border: 3px solid blue;
        }
      }

      /* When input is focused or contains text, move the label up */
      input:focus + label,
      input:not(:placeholder-shown) + label {
        top: 0;
        font-size: 12px;
        color: #4caf50;
        background: white;
        padding: 5px;
        left: 10px;
      }
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  }
}

.error {
  color: red;
}

.btn-submit,
.btn-cancel {
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-right: 0px !important;

  &.btn-submit {
    background-color: #4caf50;
    color: white;

    &:hover {
      background-color: #45a049;
    }
  }

  &.btn-cancel {
    background-color: #f44336;
    color: white;

    &:hover {
      background-color: #c62828;
    }
  }
}
