.payment-list {
  padding: 20px;
  font-family: Arial, sans-serif;
  background: rgba(0, 0, 0, 0.7);
  height: 83vh;
  .filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    .p-input {
      display: flex;
      width: 20%;
      position: relative;
      justify-content: center;
      align-items: center;
      flex: 1 1 calc(22% - 10px);
      min-width: 200px;
      max-width: 100%;
      .icon {
        position: absolute;
        right: 20px;
        pointer-events: none;
        color: aqua;
      }
    }
    input {
      width: 100%;
      border-radius: 5px;
      padding: 15px;
      outline: none;
      color: white;
      border: 3px solid gray;
      background: transparent;
      &:focus,
      &:not(:placeholder-shown) {
        background: linear-gradient(135deg, rgba(30, 30, 30,0.7), rgba(29, 28, 28, 0.7));
        & + label {
          top: 0px;
          font-size: 12px;
          color: white;
          background: black;
          padding: 5px;
          font-weight: 600;
          letter-spacing: 1px;
        }
      }
    }

    label {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      font-size: 14px;
      color: #888;
      pointer-events: none;
      transition: 0.2s ease all;
    }
  }

  .error-message {
    color: red;
    margin-bottom: 15px;
  }
  .pay-table {
    height: 76vh;
    overflow: auto;
    margin-top: 20px;
    thead {
      position: sticky;
      top: -1px;
      th {
        padding: 12px;
        border: 1px solid rgb(128, 128, 128);
      }
    }
    .table-payment {
      width: 100%;
      border-collapse: collapse;
      background: rgba(0, 0, 0, 0.6);
      .facture {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        .icon {
          color: orange;
        }
      }
      td {
        border: 1px solid gray;
        padding: 8px;
        text-align: center;
      }

      th {
        background-color: #333;
        color: white;
      }
    }
  }

  .btn-d {
    background-color: #f44336;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &:hover {
      background-color: #c62828;
    }
  }
  .action {
    text-align: center !important;
  }
}
@media (max-width: 890px) {
  .payment-list .pay-table{
    height: 65vh;
  }
}
@media (max-width: 480px) {
  .payment-list .pay-table{
    height: 60vh;
  }
}
