.modal-info{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    height: 99.5%;
    width: 99.8%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    
    .modal-info1{
        transition: 0.5s;
        letter-spacing: 1px;
        border: 2px solid white;
        color: black;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 20px;
        width: auto;
        height: 200px;
        border-radius: 10px;
        animation: popIn 0.3s ease-out forwards;
        
        button{
            border: none;
            width: auto;
            height: auto;
            padding: 10px;
            background: green;
        }
    }
     
}
@keyframes pulsate {
    0%, 100% {
      transform: scale(1); /* Taille normale */
    }
    50% {
      transform: scale(1.5); /* Agrandissement */
    }
  }
  
  .warning {
    animation: pulsate 0.6s ease-in-out infinite; /* Ajustez la durée selon vos préférences */
    display: inline-block;
  }
  .warning{
    color: orange;
    font-size: xx-large;
}
@keyframes popIn {
    0% {
      transform: scale(0.7); /* Commence plus petit */
      opacity: 0;
    }
    50% {
      transform: scale(1.1); /* S'agrandit un peu */
      opacity: 1;
    }
    100% {
      transform: scale(1); /* Retourne à sa taille normale */
      opacity: 1;
    }
    
  }
  