.modalConf{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.6);
    .modalConfirm-content{
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: center;
        border: 2px solid white;
        width: 450px;
        height: 250px;
        border: 2px solid white;
        border-radius: 10px;
        background: white;
        color: black;
        
    }
}